# =====================================================
# Gravitee.io Gateway configuration
# =====================================================

repositories:

  # Management repository (stores APIs, plans, etc.)
  management:
    type: mongodb
    mongodb:
      uri: mongodb://mongodb:27017/gravitee?retryWrites=true&w=majority

  # Ratelimit repository
  ratelimit:
    type: mongodb
    mongodb:
      uri: mongodb://mongodb:27017/gravitee?retryWrites=true&w=majority

  # Analytics repository (stores metrics, logs)
  analytics:
    type: elasticsearch
    elasticsearch:
      endpoints:
        - http://elasticsearch:9200
      index: gravitee
      security:
        enabled: false

# HTTP Server (optional)
http:
  port: 8082

services:

  # Internal management port and authentication
  core:
    http:
      enabled: true
      host: 0.0.0.0    # allows access from host/other containers; prevents "Empty reply from server"
      port: 18082
      authentication:
        type: none     # Community Edition: Basic Auth is not supported on internal API

  # Enable the metrics service
  metrics:
    enabled: true
    labels:
      - local       # Local address in client-host or host-client connections (used in net, http and datagram domains)
      - remote      # Remote address in client-host or host-client connections (used in net and http domains)      - http_code
      - http_method # Method (GET, POST, PUT, etc.) of an HTTP requests (used in http domain)
      - http_path   # Path of the URI for client or server requests (used in http domain)
      - http_route  # Route as provided by routing modules to the http requests
      - class_name  # When used in error counters (in net, http, datagram and eventbus domains) it relates to an exception that occurred. When used in verticle domain, it relates to the verticle class name.
      - eb_address  # Event bus address
      - eb_side     # Event bus side of the metric, it can be either "local" or "remote"
      - eb_failure  # Event bus failure name from a ReplyFailure object
      - namespace   # Client namespace
      - pool_type   # Pool type, such as "worker" or "datasource" (used in pools domain)
      - pool_name   # Pool name (used in pools domain)
    prometheus:
      enabled: true
