# =====================================================
# Gravitee.io Gateway configuration
# =====================================================

repositories:

  # Management repository (stores APIs, plans, etc.)
  management:
    type: mongodb
    mongodb:
      uri: mongodb://mongodb:27017/gravitee?retryWrites=true&w=majority

  # Ratelimit repository
  ratelimit:
    type: mongodb
    mongodb:
      uri: mongodb://mongodb:27017/gravitee?retryWrites=true&w=majority

  # Analytics repository (stores metrics, logs)
  analytics:
    type: elasticsearch
    elasticsearch:
      endpoints:
        - http://elasticsearch:9200
      index: gravitee
      security:
        enabled: false

# HTTP Server (optional)
http:
  port: 8082

services:

  # Internal management port and authentication
  core:
    http:
      enabled: true
      host: 0.0.0.0    # allows access from host/other containers; prevents "Empty reply from server"
      port: 18082
      authentication:
        type: none     # Community Edition: Basic Auth is not supported on internal API

  # Enable the metrics service
  metrics:
    enabled: true
    prometheus:
      enabled: true
