version: "3.8"

networks:
  coffeehouse:
    driver: bridge

volumes:
  mongodb_data:
  elastic_data:

services:

  # Keycloak              => http://localhost:8080
  # APIM API Gateway      => http://localhost:8082
  # APIM Management UI    => http://localhost:8084
  # APIM Management API   => http://localhost:8084/management
  # APIM Developer Portal => http://localhost:8084/portal

  ##############################
  ###  AUTHORIZATION SERVER  ###
  ##############################

  keycloak:
    image: udocirkel/kcgravitee-example/keycloak:1.0.0
    # image: quay.io/keycloak/keycloak:26.4.0
    environment:
      KC_HOSTNAME: keycloak
      KC_HTTP_PORT: 8080
      KC_DB: dev-mem
      KC_HEALTH_ENABLED: 'true'
      KC_METRICS_ENABLED: 'false'
      KC_LOG_LEVEL: DEBUG
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
    healthcheck:
      # Check nur auf TCP Ebene, da Distroless Image ohne curl, wget
      test: ["CMD", "bash", "-c", "exec 3<>/dev/tcp/localhost/8080"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 40s
    volumes:
      - ./keycloak/config/realm-coffeehouse.json:/opt/keycloak/data/import/realm-coffeehouse.json:ro
    ports:
      - "8080:8080"
      - "9000:9000"
    networks: [coffeehouse]
    command: ["start-dev", "--import-realm"]

  #################################
  ###  API MANAGEMENT PLATFORM  ###
  #################################

  mongodb:
    image: mongo:7.0
    healthcheck:
      test: ["CMD-SHELL", "mongosh --quiet --eval 'db.adminCommand(\"ping\")' || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
    volumes:
      - ./data/mongodb_data:/data/db
    networks: [coffeehouse]

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.16.1
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    healthcheck:
      # test: ["CMD", "curl", "-f", "http://localhost:9200/_cluster/health"]
      test: ["CMD-SHELL", "curl -f http://localhost:9200/_cluster/health || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
    ulimits:
      memlock: { soft: -1, hard: -1 }
      nofile: { soft: 65536, hard: 65536 }
    volumes:
      - ./data/elastic_data:/usr/share/elasticsearch/data
#    ports:
#      - "9200:9200"
    networks: [coffeehouse]

  management_api:
    image: udocirkel/kcgravitee-example/apim-management-api:1.0.0
    depends_on:
      elasticsearch:
        condition: service_healthy
      mongodb:
        condition: service_healthy
    environment:
      - gravitee_management_mongodb_uri=mongodb://mongodb:27017/gravitee
      - gravitee_analytics_elasticsearch_endpoints_0=http://elasticsearch:9200
      # -> Um ganz sicherzugehen, setze alle Varianten:
      - gravitee_mongodb_uri=mongodb://mongodb:27017/gravitee
      - gravitee_rate_limit_repository_type=mongodb
    healthcheck:
      # test: ["CMD", "curl", "-f", "http://localhost:8083/management/health"]
      # test: ["CMD-SHELL", "curl -u admin:admin -f http://localhost:8083/management/health || exit 1"]
      # test: ["CMD", "curl", "-f", "http://localhost:8083/_node/health"]
      test: ["CMD-SHELL", "curl -u admin:admin -f http://localhost:8083/management/v2/environments/DEFAULT/apis || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
    networks: [coffeehouse]

  management_ui:
    image: graviteeio/apim-management-ui:latest
    environment:
      - MGMT_API_URL=/management/organizations/DEFAULT/environments/DEFAULT/
    networks: [coffeehouse]

  gateway:
    # image: graviteeio/apim-gateway:latest
    image: udocirkel/kcgravitee-example/apim-gateway:1.0.0
    depends_on:
      mongodb:
        condition: service_healthy
      elasticsearch:
        condition: service_healthy
      management_api:
        condition: service_healthy
    environment:
      # MongoDB
      - gravitee_management_mongodb_uri=mongodb://mongodb:27017/gravitee?retryWrites=true&w=majority
      - gravitee_mongodb_uri=mongodb://mongodb:27017/gravitee
      - gravitee_ratelimit_mongodb_uri=mongodb://mongodb:27017/gravitee
      # Elasticsearch
      - gravitee_analytics_elasticsearch_endpoints_0=http://elasticsearch:9200
      - gravitee_reporters_elasticsearch_endpoints_0=http://elasticsearch:9200
      # Gateway Binding
      - gravitee_management_url=http://management_api:8083/management
      - gravitee_management_http_url=http://management_api:8083/management/organizations/DEFAULT/environments/DEFAULT/
    ports:
      - "8082:8082"
    volumes:
      - ./gravitee/config/gravitee.yml:/opt/graviteeio-gateway/config/gravitee.yml:ro
    networks: [coffeehouse]

  nginx:
    image: nginx:alpine
    depends_on:
      - management_ui
      - management_api
    ports:
      - "8084:80"
    volumes:
      - ./nginx/config/nginx.conf:/etc/nginx/nginx.conf:ro
    networks: [coffeehouse]

  ##########################
  ###  COFFEEHOUSE APIS  ###
  ##########################

  coffee-ingredient-service:
    image: udocirkel/kcgravitee-example/coffee-ingredient-service:1.0.0
    depends_on:
      keycloak:
        condition: service_healthy
    environment:
      - JWT_ISSUER_URI=http://keycloak:8080/realms/coffeehouse
      - LOG_LEVEL=DEBUG
    ports:
      - "8087:8080"
    networks: [coffeehouse]

  coffee-menu-service:
    image: udocirkel/kcgravitee-example/coffee-menu-service:1.0.0
    depends_on:
      keycloak:
        condition: service_healthy
    environment:
      - JWT_ISSUER_URI=http://keycloak:8080/realms/coffeehouse
      - INGREDIENT_SERVICE_URL=http://coffee-ingredient-service:8080
      - LOG_LEVEL=DEBUG
    ports:
      - "8088:8080"
    networks: [coffeehouse]

  coffee-order-service:
    image: udocirkel/kcgravitee-example/coffee-order-service:1.0.0
    depends_on:
      keycloak:
        condition: service_healthy
    environment:
      - JWT_ISSUER_URI=http://keycloak:8080/realms/coffeehouse
      - MENU_SERVICE_URL=http://gateway:8082/coffee-menu-api
      - LOG_LEVEL=DEBUG
    ports:
      - "8089:8080"
    networks: [coffeehouse]
